::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%2345d9d9" class="bi bi-calendar" viewBox="0 0 16 16">  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>');
}

.activeSheet-class {
  padding: 3%;
  border: 2px solid #11a7a7;
  background-image: linear-gradient(#45d9d921, #45d9d921);
  color: #156262;
  margin-bottom: 5px;
}

.sheetItem-class {
  padding: 3%;
}

.attachment-scrollbar {
  position: relative;
  height: 190px;
  width: 20em;
  overflow: auto;
}

.attachment-table-wrapper-scroll-y {
  display: block;
}

.details-box {
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.details-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.details-handle {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.drag-boundary {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.active-project {
  padding: 24px 9px 24px 9px;
  background: linear-gradient(
    to right,
    rgba(220, 245, 245, 0.1) 0%,
    rgba(190, 250, 239, 0.55) 100%
  );
  border-right: solid 4px #45d9d9;
  border-bottom: 2px solid rgba(224, 247, 250, 0.35) !important;
  color: rgb(69, 217, 217) !important;
}

.active {
  background-color: #f7fcfc;
  border-right: solid 4px #45d9d9;
}

.ngNavbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: #fff;
  -webkit-box-shadow: 0 -3px 31px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 2%);
  box-shadow: 0 -3px 31px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 2%);
}
[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ngContainer {
  height: calc(100% - 66px);
}

::host {
  display: flex;
  width: 100%;
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

::ng-deep .node-wrapper {
  min-height: 16px;
  font-size: 12px;
}

::ng-deep .node-content-wrapper {
  width: 100%;
}

::ng-deep .node-content-wrapper-active {
  background: rgba(69, 217, 217, 0.5);
  border-right: solid 4px #45d9d9;
  background: linear-gradient(
    45deg,
    rgba(69, 217, 217, 0.1),
    rgba(69, 217, 217, 0.5)
  );
  color: #45d9d9;
  font-weight: 700;
  box-shadow: none;
}

::ng-deep .node-content-wrapper.node-content-wrapper-active:hover {
  background: rgba(69, 217, 217, 0.4);
  border-right: solid 4px #45d9d9;
  background: linear-gradient(
    45deg,
    rgba(69, 217, 217, 0.1),
    rgba(69, 217, 217, 0.5)
  );
  color: #45d9d9;
  font-weight: 700;
  box-shadow: none;
}

::ng-deep .node-content-wrapper-active.node-content-wrapper-focused {
  background: rgba(69, 217, 217, 0.6);
  border-right: solid 4px #45d9d9;
  background: linear-gradient(
    45deg,
    rgba(69, 217, 217, 0.1),
    rgba(69, 217, 217, 0.5)
  );
  color: #45d9d9;
  font-weight: 700;
  box-shadow: none;
}

::ng-deep .node-content-wrapper-focused {
  background: rgba(69, 217, 217, 0.3);
}

::ng-deep .node-content-wrapper:hover {
  background: rgba(69, 217, 217, 0);
  box-shadow: none;
}

::ng-deep .node-content-wrapper.is-dragging-over {
  background: rgba(69, 217, 217, 0.1);
}

::ng-deep .accordion > .card {
  z-index: 1 !important;
  overflow: visible;
}

::ng-deep .modal-content {
  border-radius: 0.8rem;
  width: fit-content;
  // left: 50%;
  // transform: translate(-50%, 0);
}

::ng-deep .addProject-prompt {
  // margin-top: 43vh;
  display: grid !important;
  place-items: center;
  .modal-content {
    border-radius: 0.8rem;
    width: fit-content;
    // left: 50%;
    // transform: translate(-50%, 0);
  }
}

::ng-deep .editProject-prompt {
  display: grid !important;
  place-items: center;
  // margin-top: 43vh;
  .modal-content {
    border-radius: 0.8rem;
    width: fit-content;
    // left: 50%;
    // transform: translate(-50%, 0);
  }
}

::ng-deep .project-confirm {
  // margin-top: 43vh;
  display: grid !important;
  place-items: center;
  .modal-content {
    border-radius: 0.8rem;
    width: 312px !important;
    height: 227px !important;
    // left: 50%;
    // transform: translate(-50%, 0);
  }
}

::ng-deep .sheet-confirm {
  // margin-top: 40vh;
  display: grid !important;
  place-items: center;
  .modal-content {
    border-radius: 0.8rem;
    width: 264px !important;
    height: 232px !important;
    // left: 40%;
    // transform: translate(-50%, 0);
  }
}

::ng-deep .searchSheet-class {
  // margin-top: 40vh;
  display: grid !important;
  place-items: center;
  .modal-content {
    border-radius: 0.8rem;
    width: fit-content;
    // left: 50%;
    // transform: translate(-50%, 0);
  }
}

::ng-deep .inputForm-class {
  // margin-top: 43vh;
  display: grid !important;
  place-items: center;
  .modal-content {
    border-radius: 0.8rem;
    width: fit-content;
    // left: 50%;
    // transform: translate(-50%, 0);
  }
}

.bg-light {
  background-color: #ffffff !important;
}

.panel-title {
  color: #777;
}

.card-header {
  padding: 0px;
}

#advising-input-wrap {
  font-size: 95%;
  margin-left: -60px;
}

.tab-title-small {
  font-size: 65%;
}

.nav-link {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: #45d9d9;
}

.hidePanel {
  display: none;
}

.nav-item {
  position: relative;
}

// ::ng-deep .nav-pills a,
// .nav-pills a:hover {
//   color: #90a4ae;
//   background-color: #ffffff;
//   margin-bottom: 0px;
// }

::ng-deep .nav-pills a:hover {
  color: #607d8b;
}

::ng-deep .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(69, 217, 217);
}

::ng-deep #position-data .nav-pills .nav-link,
.nav-pills .show > .nav-link {
  list-style-position: inside !important;
  border-left: 3px solid #fff !important;
}

::ng-deep #position-data .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(69, 217, 217);
  list-style-position: inside !important;
  border-left: 3px solid #45d9d9 !important;
  background: linear-gradient(
    to left,
    rgba(220, 245, 245, 0.1) 0%,
    rgba(190, 250, 239, 0.55) 100%
  );
}

#position-employee {
  text-align: left;
  margin-top: 10px;
  margin-left: -17px;
}

#position-employee ul {
  width: 100%;
}

.ng-autocomplete {
  width: 100%;
}

.nav-tabs .nav-link {
  border-radius: 0px;
  border-right: 0;
  /* border: 1px solid transparent; */
  /* border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;*/
}

// #sheetContainer {
//   background: white;
//   background-image: radial-gradient(#45d9d9 1px, transparent 0);
//   background-size: 20px 30px;
//   background-position: -19px -19px;
// }

.btn-outline-dark {
  /*    color: #343a40;*/
  border-color: #ffff;
}

.btn {
  color: #555555;
  box-shadow: none !important;
  text-decoration: none;
  background-color: #ffffff !important;
}

.btn:hover {
  box-shadow: none !important;
  text-decoration: none;
  color: #45d9d9;
  background-color: #ffffff !important;
}

.btn-success {
  color: #ffffff;
  box-shadow: none !important;
  text-decoration: none;
  background-color: #45d9d9 !important;
  border-color: #45d9d9;
}

.btn-danger {
  color: #45d9d9;
  border-color: #45d9d9;
}

.btn-danger:hover,
.btn-success:hover {
  color: #777777;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active {
  color: #45d9d9;
  border-color: #45d9d9;
}

::ng-deep .card {
  border: none;
}

::ng-deep .card .card-header {
  padding: 1.5rem 0.25rem 0.8rem 0.25rem !important;
  background-color: #ffffff !important;
  border: none;
}

// ::ng-deep .btn:focus {
//   box-shadow: none !important;
//   text-decoration: none;
//   color: #45d9d9;
//   background-color: #ffffff !important;
// }

::ng-deep .btn:hover {
  box-shadow: none !important;
  text-decoration: none;
  color: #45d9d9;
  background-color: #ffffff !important;
}

::ng-deep .btn:hover .panel-title {
  color: #45d9d9;
}

#position-data {
  background: #fff;
  border: 1px solid #cfcfcf;
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px 5px;
  padding-top: 0px;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
  color: grey;
  /*    border: none;*/
  border-color: #ffffff;
}

.btn:focus {
  outline: none;
}

#btn-filter-graph,
#btn-filter-graph:focus {
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0px;
  z-index: 10000;
  position: absolute;
  right: 4px;
  top: 1px;
}

#filter,
#filter:focus {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

::ng-deep .card-body {
  padding-top: 0px;
}

.table td,
.table th {
  color: #999999;
}

.table th {
  font-weight: 600;
}

.navbar-brand {
  font-weight: 700;
}

#user-info {
  float: right;
}
.dropdown-menu-end {
  left: auto!important;
  right: 0!important;
}

#user-info i {
  color: #45d9d9;
}

#user-info .user-name {
  font-size: 1rem;
  font-weight: 700;
}

#user-info img {
  height: 50px;
  border: 2px solid #45d9d9;
  padding: 3px;
}

@media only screen and (max-width: 1024px) {
  .navbar-brand {
    font-size: 70%;
  }

  #user-info .user-name {
    font-size: 0.6rem;
  }

  #user-info img {
    height: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-brand {
    font-size: 70%;
  }

  #user-info .user-name {
    font-size: 0.6rem;
  }

  #user-info img {
    height: 30px;
  }
}

@media only screen and (max-width: 1375px) {
  #advising-input-wrap {
    padding-top: 0px;
  }

  #advising-input-wrap {
    line-height: 18px;
  }
}

.card-line-accordion {
  height: 100%;
  width: 40px;
  display: inline;
  float: left;
  border-right: 1px solid #eee;
}

.icon-category {
  position: absolute;
  left: -44px;
  top: 10px;
  color: #45d9d9;
  font-size: 24px;
  border-right: 3px solid #45d9d9;
  padding: 24px 9px 24px 9px;
  background: linear-gradient(
    to right,
    rgba(220, 245, 245, 0.1) 0%,
    rgba(190, 250, 239, 0.55) 100%
  );
}
.active {
  border: none !important;
  border-bottom: 2px solid rgba(224, 247, 250, 0.35) !important;
  color: rgb(69, 217, 217) !important;
}
.active-close {
  color: #45d9d9 !important;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent transparent transparent;
}
.btn-export-data {
  margin: 0 auto;
  color: #45d9d9;
  border-radius: 5px;
  border: 1px solid #45d9d9;
  padding: 10px;
  background: #fff;
}
.btn-export-data:focus {
  outline: #49bebe;
}
.div-panel-right {
  position: fixed;
  right: 1%;
  width: 450px;
  top: 120px;
  color: #444;
}
.div-panel-right-inner {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 14px 20px;
  font-size: 76%;
}
.label-input-panel {
  padding: 0;
  padding-top: 4px;
  margin: 0;
  font-size: 90%;
}
.label-select-panel {
  padding: 0;
  width: 100%;
}
.input-panel {
  font-size: 11px;
  margin-top: 0 !important;
  margin-bottom: 2px !important;
}
#advising-input-label {
  padding-top: 3px;
}
::ng-deep #position-data ul {
  width: 38%;
}
::ng-deep #position-data div {
  width: 62%;
}
::ng-deep #position-data div div {
  width: 100%;
}

#div-panel-right-inner-3 {
  margin-top: 10px;
  position: fixed;
  right: 1%;
  bottom: 20px;
  width: 25%;
  opacity: 0.6;
}
::ng-deep #div-panel-right-inner-3 .col-8 {
  padding-left: 0;
}
.org-chart {
  margin-bottom: 20px;
}
.org-chart i {
  font-size: 150%;
}
.btn-img {
  padding: 0;
  width: 39px;
  background-image: url("/assets/images/user-plus.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-img:hover {
  background-image: url("/assets/images/user-plus-hover.png");
}
.btn-tools {
  padding: 0;
  width: 39px;
  background-image: url("/assets/images/tools.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}
.btn-tools:hover {
  background-image: url("/assets/images/tools-hover.png");
}

.btn-right-selector {
  outline: none;
  top: 5px;
  position: relative;
  right: -6px;
  border-radius: 50%;
  z-index: 999;
  padding: 10px;
  opacity: 1;
  background: #eee;
  color: #000;
  font-size: 70%;
  border: 0;
}
.btn-left-selector {
  outline: none;
  top: 5px;
  position: relative;
  right: -8px;
  border-radius: 50%;
  z-index: 999;
  padding: 10px;
  opacity: 1;
  background: #eee;
  color: #000;
  font-size: 70%;
  border: 0;
}

.btn-check-selector {
  outline: none;
  top: 0px;
  position: relative;
  right: -9px;
  border-radius: 50%;
  z-index: 999;
  padding: 8px;
  opacity: 1;
  color: #999;
  font-size: 181%;
  border: 0;
  background: #fff;
}
.btn-close-selector {
  outline: none;
  background: #fff;
  top: 1px;
  position: absolute;
  right: -1px;
  border-radius: 50%;
  border: 1px solid #eee;
  z-index: 999;
  padding: 3px 7px;
  opacity: 1;
  color: #888;
}
.btn-close-selector:hover {
  opacity: 1 !important;
}
::ng-deep .tree-selector span {
  font-size: 120%;
  font-weight: 500;
  color: rgb(99, 99, 99);
}

::ng-deep .tree-selector .tree-node-level-2 span {
  font-size: 120%;
  font-weight: 500;
  color: rgb(99, 99, 99);
}

::ng-deep .tree-selector .tree-node-level-2 .tree-node-level-3 span {
  font-size: 110%;
  font-weight: normal;
  color: rgb(138, 138, 138);
}

::ng-deep .tree-selector .node-wrapper {
  height: 23px;
}

::ng-deep .tree-selector .toggle-children {
  background-image: url(/assets/images/plus.png);
  position: relative;
  right: -270px;
  top: 3px;
  height: 20px;
  width: 20px;
  transform: rotate(0);
}

::ng-deep .tree-selector .tree-node-level-2 .toggle-children {
  background-image: url(/assets/images/plus.png);
  position: relative;
  right: -260px;
  top: 3px;
  height: 20px;
  width: 20px;
  transform: rotate(0);
}

::ng-deep .tree-selector .tree-node-level-3 .toggle-children {
  background-image: url(/assets/images/plus.png);
  position: relative;
  right: -250px;
  top: 3px;
  height: 20px;
  width: 20px;
  transform: rotate(0);
}

::ng-deep .tree-selector .toggle-children-wrapper-expanded span {
  background-image: url(/assets/images/minus.png) !important;
}

.table-privacy {
  margin-top: 8px;
  border-collapse: collapse;
  border-radius: 8px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px rgb(206, 206, 206); /* this draws the table border  */
  margin-bottom: 10px;
}

.table-privacy th {
  border-bottom: 1px #999999;
  text-align: center;
}
.table-privacy td {
  text-align: center;
}
.lbl-privacy {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.close-privacy {
  border: solid 1px rgb(201, 201, 201);
  border-radius: 50%;
  color: rgb(201, 201, 201);
  background: #fff;
  padding: 0px 4px;
  line-height: 16px;
}
.lbl-position-title {
  background-image: url(/assets/images/user-plus.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  padding-left: 20px;
  border: none;
  font-size: 70%;
  cursor: pointer;
}
.div-position-delete {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 90%;
}
.btn-position-delete {
  background: #45d9d9;
  color: white;
  border: 0;
  border-radius: 3px;
  height: 21px;
  width: 21px;
  line-height: 1em;
  font-weight: bold;
  font-size: 113%;
  padding-left: 3px;
  display: flex;
  margin-right: 15px;
  margin-bottom: 10px;
}
.nav-link.active {
  background-color: rgba(224, 247, 250, 0.35);
}

.ul-position {
  width: 100% !important;
}
.mt-2.tab-content {
  margin-top: 0 !important;
}
.chk-lbl-position {
  padding-left: 15px;
}

.btn-responsability {
  background: #45d9d9;
  color: white;
  border: 0;
  border-radius: 3px;
  height: 21px;
  width: 21px;
  line-height: 1em;
  font-weight: bold;
  padding-left: 6px;
  display: flex;
  margin-right: 15px;
  margin-bottom: 10px;
  float: right;
  font-family: arial;
  font-size: 19px;
  text-align: center;
  outline: none;
}

.file-drop {
  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

// ::ng-deep .joint-paper {
//   margin-top: 42px;
//   height: calc(100vh - 130px) !important;
// }
::ng-deep .sidebar {
  height: calc(100vh - 66px) !important;
  overflow: auto;
  width: 315px;
  z-index: 1001;
  background: #fff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 66px;
  left:0;
  -webkit-box-shadow: 0 -3px 31px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 2%);
  box-shadow: 0 -3px 31px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 2%);
}
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0!important;
  }
  .top-tab {
    padding-left: 0px!important;
  }
}
.top-tab {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  border-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  right:0;
  padding-left: 315px;
}
@media (max-width: 845px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0!important;
    padding-top: 145px!important;
  }
}

@media (min-width: 846px) and (max-width: 1050px) {
  .sidebar {
    top: 111px!important;
  }
  .main-content {
    padding-top: 111px!important;
  }
}

::ng-deep .simplebar-wrapper {
  overflow: auto;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.main-content {
  margin-left: 315px;
  overflow: hidden;
  padding-top: 67px;
}
.main-content .document-content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.dropdown-menu {
  margin-left: 25px;
}

#position-employee {
  height: 166px;
  overflow-y: scroll;
}

.nv-position-emp {
  display: flex;
}
p.txt-pemp {
  margin-top: 0px;
  font-size: 71%;
  margin-left: 7px;
}

.txt-one-line-highighted {
  display: flex;
  background: #ebfcfc;
  border-radius: 60px;
  padding-top: 9px;
  height: 35px;
  margin-bottom: 10px;
  cursor: pointer;
}

img.user-w {
  background: #bac9ca;
  height: 19px;
  padding: 2px;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: -1px;
}

p.user-nme-txt {
  font-size: 70%;
  margin-left: 6px;
  margin-top: 2px;
  width: 100%;
}

div#position-employee {
  padding-right: 22%;
}

p.floater {
  margin-right: 9px;
}

.c-one-line {
  margin-left: 20px;
  display: flex;
}

input.position-txt-one-line {
  margin-top: 10px;
  margin-right: 9px;
}

.position-employee-listopened {
  border-radius: 13px;
  -webkit-box-shadow: -5px 8px 27px 0px #d7d8da;
  -moz-box-shadow: 5px 2px 36px 5px #d7d8da;
  height: 100%;
  width: 74% !important;
  margin-top: 12px;
  padding-top: 11px;
  margin-left: 10px;
  height: 166px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.position-employee-listopened::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

ul.nav-pills.nav.flex-column {
  border-right: 1px solid #dae0e5;
}

.txt-one-line-highighted.highlighted_class {
  border: 2px solid #45d9d9;
  padding-top: 8px;
}

.txt-one-line {
  display: flex;
  padding-left: 0px !important;
}

.bx-img-emp {
  width: 33px !important;
}

.nv-position-emp {
  margin-left: 13px;
}
p.user-nme-txt.panel {
  margin-left: 7px;
  text-align: left;
  margin-top: 0px;
}
i.bi.bi-plus-circle.pemp {
  cursor: pointer;
}
.row.head-position-emp {
  margin-left: -4px;
  margin-top: 0px;
  margin-top: 6px;
  margin-bottom: -1px;
}

p.user-nme-txt.panel.highlighted_class {
  color: #45d9d9;
  font-weight: bold;
}
p.user-nme-txt.panel {
  cursor: pointer;
}
