.attachment-scrollbar {
  position: relative;
  height: 190px;
  width: 20em;
  overflow: auto;
}

.attachment-table-wrapper-scroll-y {
  display: block;
}

.details-box {
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.details-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.details-handle {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.drag-boundary {
  width: 100%;
  height: 100%;
}

.active {
  background-color: #f7fcfc;
  border-right: solid 4px #45d9d9;
}
::host {
  display: flex;
  width: 100%;
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

::ng-deep .node-wrapper {
  height: 16px;
  font-size: 12px;
}

::ng-deep .node-content-wrapper {
  width: 100%;
}

::ng-deep .node-content-wrapper-active {
  background: rgba(69, 217, 217, 0.5);
  border-right: solid 4px #45d9d9;
  background: linear-gradient(
    45deg,
    rgba(69, 217, 217, 0.1),
    rgba(69, 217, 217, 0.5)
  );
  color: #45d9d9;
  font-weight: 700;
  box-shadow: none;
}

::ng-deep .node-content-wrapper.node-content-wrapper-active:hover {
  background: rgba(69, 217, 217, 0.4);
  border-right: solid 4px #45d9d9;
  background: linear-gradient(
    45deg,
    rgba(69, 217, 217, 0.1),
    rgba(69, 217, 217, 0.5)
  );
  color: #45d9d9;
  font-weight: 700;
  box-shadow: none;
}

::ng-deep .node-content-wrapper-active.node-content-wrapper-focused {
  background: rgba(69, 217, 217, 0.6);
  border-right: solid 4px #45d9d9;
  background: linear-gradient(
    45deg,
    rgba(69, 217, 217, 0.1),
    rgba(69, 217, 217, 0.5)
  );
  color: #45d9d9;
  font-weight: 700;
  box-shadow: none;
}

::ng-deep .node-content-wrapper-focused {
  background: rgba(69, 217, 217, 0.3);
}

::ng-deep .node-content-wrapper:hover {
  background: rgba(69, 217, 217, 0);
  box-shadow: none;
}

::ng-deep .node-content-wrapper.is-dragging-over {
  background: rgba(69, 217, 217, 0.1);
}

::ng-deep .accordion > .card {
  z-index: 1 !important;
  overflow: visible;
}

::ng-deep .modal-content {
  border-radius: 0.8rem;
  margin-top: 60%;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bg-light {
  background-color: #ffffff !important;
}

.panel-title {
  color: #777;
}

.card-header {
  padding: 0px;
}

#advising-input-wrap {
  padding: 22px 0px 0px 22px;
  font-size: 95%;
  line-height: 100%;
}

.tab-title-small {
  font-size: 65%;
}

.nav-link {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: #45d9d9;
}

.hidePanel {
  display: none;
}

.nav-item {
  position: relative;
}

::ng-deep .nav-pills a,
.nav-pills a:hover {
  /*
    color: #90a4ae;
    background-color: #ffffff;
    margin-bottom: 0px;
    */
}

::ng-deep .nav-pills a:hover {
  color: #607d8b;
}

::ng-deep .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(69, 217, 217);
}

::ng-deep #position-data .nav-pills .nav-link,
.nav-pills .show > .nav-link {
  list-style-position: inside !important;
  border-left: 3px solid #fff !important;
}

::ng-deep #position-data .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(69, 217, 217);
  list-style-position: inside !important;
  border-left: 3px solid #45d9d9 !important;
  background: linear-gradient(
    to left,
    rgba(220, 245, 245, 0.1) 0%,
    rgba(190, 250, 239, 0.55) 100%
  );
}

.ng-autocomplete {
  width: 100%;
}

.nav-tabs .nav-link {
  border-radius: 0px;
  border-right: 0;
  /* border: 1px solid transparent; */
  /* border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;*/
}

#sheetContainer {
  /*  background: white;
  background-image: radial-gradient(#45d9d9 1px, transparent 0);
  background-size: 20px 30px;
  background-position: -19px -19px;*/
}

.btn-outline-dark {
  /*    color: #343a40;*/
  border-color: #ffff;
}

.btn {
  color: #555555;
  box-shadow: none !important;
  text-decoration: none;
  background-color: #ffffff !important;
}

.btn:hover {
  box-shadow: none !important;
  text-decoration: none;
  color: #45d9d9;
  background-color: #ffffff !important;
}

.btn-success {
  color: #ffffff;
  box-shadow: none !important;
  text-decoration: none;
  background-color: #45d9d9 !important;
  border-color: #45d9d9;
}

.btn-danger {
  color: #45d9d9;
  border-color: #45d9d9;
}

.btn-danger:hover,
.btn-success:hover {
  color: #777777;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active {
  color: #45d9d9;
  border-color: #45d9d9;
}

::ng-deep .card {
  border: none;
}

::ng-deep .card .card-header {
  padding: 1.5rem 0.25rem 0.8rem 0.25rem !important;
  background-color: #ffffff !important;
  border: none;
}

::ng-deep .btn.focus {
  box-shadow: none !important;
  text-decoration: none;
  color: #45d9d9;
  background-color: #ffffff !important;
}

::ng-deep .btn:focus {
  box-shadow: none !important;
  text-decoration: none;
  color: #45d9d9;
  background-color: #ffffff !important;
}

::ng-deep .btn:hover {
  box-shadow: none !important;
  text-decoration: none;
  color: #45d9d9;
  background-color: #ffffff !important;
}

::ng-deep .btn:hover .panel-title {
  color: #45d9d9;
}

#position-data {
  background: #fff;
  border: 1px solid #cfcfcf;
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px 5px;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
  color: grey;
  /*    border: none;*/
  border-color: #ffffff;
}

#btn-filter-graph,
#btn-filter-graph:focus {
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0px;
  z-index: 10000;
  position: absolute;
  right: 4px;
  top: 1px;
}

#filter,
#filter:focus {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

::ng-deep .card-body {
  padding-top: 0px;
}

.table td,
.table th {
  color: #999999;
}

.table th {
  font-weight: 600;
}

.navbar-brand {
  font-weight: 700;
}

#user-info {
  float: right;
}

#user-info i {
  color: #45d9d9;
}

#user-info .user-name {
  font-size: 1rem;
  font-weight: 700;
}

#user-info img {
  height: 50px;
  border: 2px solid #45d9d9;
  padding: 3px;
}

@media only screen and (max-width: 1024px) {
  .navbar-brand {
    font-size: 70%;
  }

  #user-info .user-name {
    font-size: 0.6rem;
  }

  #user-info img {
    height: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-brand {
    font-size: 70%;
  }

  #user-info .user-name {
    font-size: 0.6rem;
  }

  #user-info img {
    height: 30px;
  }
}

@media only screen and (max-width: 1375px) {
  #advising-input-wrap {
    padding-top: 0px;
  }

  #advising-input-wrap {
    line-height: 18px;
  }
}

.card-line-accordion {
  height: 100%;
  width: 40px;
  display: inline;
  float: left;
  border-right: 1px solid #eee;
}

.icon-category {
  position: absolute;
  left: -44px;
  top: 10px;
  color: #45d9d9;
  font-size: 24px;
  border-right: 3px solid #45d9d9;
  padding: 24px 9px 24px 9px;
  background: linear-gradient(
    to right,
    rgba(220, 245, 245, 0.1) 0%,
    rgba(190, 250, 239, 0.55) 100%
  );
}
.active {
  border: none !important;
  border-bottom: 2px solid rgba(224, 247, 250, 0.35) !important;
  color: rgb(69, 217, 217) !important;
}
.active-close {
  color: #45d9d9 !important;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent transparent transparent;
}
.btn-export-data {
  margin: 0 auto;
  color: #45d9d9;
  border-radius: 5px;
  border: 1px solid #45d9d9;
  padding: 10px;
  background: #fff;
}
.btn-export-data:focus {
  outline: #49bebe;
}
.div-panel-right {
  position: absolute;
  right: 1%;
  width: 40%;
  top: 50px;
  color: #444;
}
.div-panel-right-inner {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 14px 20px;
  font-size: 76%;
}
.label-input-panel {
  padding: 0;
  padding-top: 4px;
  margin: 0;
  font-size: 90%;
}
.label-select-panel {
  padding: 0;
  width: 100%;
}
.input-panel {
  font-size: 11px;
  margin-top: 0 !important;
  margin-bottom: 2px !important;
}
#advising-input-label {
  padding-top: 3px;
}
::ng-deep #position-data ul {
  width: 38%;
}
::ng-deep #position-data div {
  width: 62%;
}
::ng-deep #position-data div div {
  width: 100%;
}
#div-panel-right-inner-3 {
  margin-top: 10px;
}
::ng-deep #div-panel-right-inner-3 .col-8 {
  padding-left: 0;
}
